<!--

FONTE: https://tutorial.djangogirls.org/pt/html/#mais-uma-coisa-implanta%C3%A7%C3%A3o-deploy



<html>
    <head>
       <title>
           REd Jr Python-Django
            </title>
            <h1>Começando o desenvolvimento em Python-Django
            </h1>
            <h2>Tem que ter atenção...
            </h2>
            <h3>... bastante <em>atenção</em>
            </h3>
     </head>
            <body>
            <br>
               <t>
                 <strong>
                   <p>Hi there!</p>
                   <p>It works!</p>
                 </strong>
               </t>
            Tudo com a ajuda da galera do 
            <a about="blank" href="https://tutorial.djangogirls.org/pt">
            <strong>DjangoGirls</strong></a>
            , com seu tutorial <strong><em>extraordinário</em></strong>! 
            <br> 
            E tudo:
            <ul>
                <li>passo</li>
                <li>a passo</li>
                </ul>
           </bod>
</html>


-->
{% load staticfiles %}
<html>
    <head>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
